circle {
    fill: transparent;
    stroke: gray;
    stroke-width: 2px;
}
circle.hovered {
    fill: #ff8080;
    fill-opacity: 0.7;
    stroke: #ff8080;
}
circle.pressed, circle.pressed.hovered {
    fill: #ff8080;
    fill-opacity: 1;
    stroke: red;
    stroke-width: 4px;
}
rect.overlay {
    fill: transparent;
    stroke: transparent;
    stroke-width: 0;
}
