rect {
    fill: transparent;
    stroke: gray;
    stroke-width: 2px;
}
rect.hovered {
    fill: #8080ff;
    fill-opacity: 0.7;
    stroke: #8080ff;
}
rect.pressed, rect.pressed.hovered {
    fill: #8080ff;
    fill-opacity: 1;
    stroke: blue;
    stroke-width: 4px;
}
rect.overlay {
    fill: transparent;
    stroke: transparent;
    stroke-width: 0;
}
